In [1]:
import pandas as pd
import numpy as np

In [66]:
my_x_feature = pd.read_csv("../ourfeatures/my_bigX_version20.csv")
dataset_trainx = pd.read_parquet("../trains/dataset_train_small.parquet")

In [67]:
print(my_x_feature.columns.values)

['app_id' 'transaction_number_max' 'amnt_min' 'amnt_max' 'amnt_mean'
 'amnt_median' 'currency_num_unique_values_x' 'currency_median'
 'operation_type_group_median' 'operation_kind_median'
 'income_flag_median' 'payment_system_median' 'ecommerce_flag_mean'
 'days_before_min' 'days_before_mean' 'days_before_max'
 'country_num_unique_values' 'country_median' 'city_num_unique_values'
 'city_median' 'day_of_week_num_unique_values' 'day_of_week_mean'
 'hour_diff_mean' 'mcc_category_mean' 'mcc_category_num_unique_values'
 'mcc_category_median_x' 'currency_1' 'currency_10' 'currency_11'
 'currency_2' 'currency_3' 'currency_4' 'currency_5' 'currency_6'
 'currency_7' 'currency_8' 'currency_9' 'operation_type_group1'
 'operation_type_group2' 'operation_type_group3' 'operation_type_group4'
 'operation_kind1' 'operation_kind2' 'operation_kind3' 'operation_kind4'
 'operation_kind5' 'operation_kind6' 'operation_kind7' 'income_flag1'
 'income_flag2' 'income_flag3' 'payment_system1' 'payment_system2'
 'payment_system3' 'payment_system4' 'payment_system5' 'payment_system6'
 'payment_system7' 'ecommerce_flag1' 'ecommerce_flag2' 'ecommerce_flag3'
 'product' 'weekofyear_num_unique_values' 'hour_num_unique_values'
 'card_type_num_unique_values_x' 'days_before_num_unique_values'
 'mcc_num_unique_values' 'operation_type_num_unique_values'
 'currency_num_unique_values_y' 'operation_kind_num_unique_values'
 'card_type_num_unique_values_y' 'operation_type_group_num_unique_values'
 'ecommerce_flag_num_unique_values' 'payment_system_num_unique_values'
 'mcc_median' 'mcc_category_median_y' 'mcc_category1' 'mcc_category10'
 'mcc_category11' 'mcc_category12' 'mcc_category13' 'mcc_category14'
 'mcc_category15' 'mcc_category16' 'mcc_category17' 'mcc_category18'
 'mcc_category19' 'mcc_category2' 'mcc_category20' 'mcc_category21'
 'mcc_category22' 'mcc_category23' 'mcc_category24' 'mcc_category25'
 'mcc_category26' 'mcc_category27' 'mcc_category28' 'mcc_category3'
 'mcc_category4' 'mcc_category5' 'mcc_category6' 'mcc_category7'
 'mcc_category8' 'mcc_category9' 'mcountry_1' 'mcountry_10' 'mcountry_11'
 'mcountry_12' 'mcountry_13' 'mcountry_14' 'mcountry_15' 'mcountry_16'
 'mcountry_17' 'mcountry_18' 'mcountry_19' 'mcountry_2' 'mcountry_20'
 'mcountry_21' 'mcountry_22' 'mcountry_23' 'mcountry_24' 'mcountry_3'
 'mcountry_4' 'mcountry_5' 'mcountry_6' 'mcountry_7' 'mcountry_8'
 'mcountry_9' 'mymcc1' 'mymcc10' 'mymcc100' 'mymcc101' 'mymcc102'
 'mymcc103' 'mymcc104' 'mymcc105' 'mymcc106' 'mymcc107' 'mymcc108'
 'mymcc11' 'mymcc12' 'mymcc13' 'mymcc14' 'mymcc15' 'mymcc16' 'mymcc17'
 'mymcc18' 'mymcc19' 'mymcc2' 'mymcc20' 'mymcc21' 'mymcc22' 'mymcc23'
 'mymcc24' 'mymcc25' 'mymcc26' 'mymcc27' 'mymcc28' 'mymcc29' 'mymcc3'
 'mymcc30' 'mymcc31' 'mymcc32' 'mymcc33' 'mymcc34' 'mymcc35' 'mymcc36'
 'mymcc37' 'mymcc38' 'mymcc39' 'mymcc4' 'mymcc40' 'mymcc41' 'mymcc42'
 'mymcc43' 'mymcc44' 'mymcc45' 'mymcc46' 'mymcc47' 'mymcc48' 'mymcc49'
 'mymcc5' 'mymcc50' 'mymcc51' 'mymcc52' 'mymcc53' 'mymcc54' 'mymcc55'
 'mymcc56' 'mymcc57' 'mymcc58' 'mymcc59' 'mymcc6' 'mymcc60' 'mymcc61'
 'mymcc62' 'mymcc63' 'mymcc64' 'mymcc65' 'mymcc66' 'mymcc67' 'mymcc68'
 'mymcc69' 'mymcc7' 'mymcc70' 'mymcc71' 'mymcc72' 'mymcc73' 'mymcc74'
 'mymcc75' 'mymcc76' 'mymcc77' 'mymcc78' 'mymcc79' 'mymcc8' 'mymcc80'
 'mymcc81' 'mymcc82' 'mymcc83' 'mymcc84' 'mymcc85' 'mymcc86' 'mymcc87'
 'mymcc88' 'mymcc89' 'mymcc9' 'mymcc90' 'mymcc91' 'mymcc92' 'mymcc93'
 'mymcc94' 'mymcc95' 'mymcc96' 'mymcc97' 'mymcc98' 'mymcc99'
 'day_before_std' 'amnt_std' "('city', 'median')"
 "('day_of_week', 'count')" "('day_of_week', 'median')"
 "('hour', 'count')" "('hour', 'median')" "('weekofyear', 'count')"
 "('weekofyear', 'median')" "('hour_diff', 'count')"
 "('hour_diff', 'median')" "('mycity_1', '')" "('mycity_10', '')"
 "('mycity_100', '')" "('mycity_101', '')" "('mycity_102', '')"
 "('mycity_103', '')" "('mycity_104', '')" "('mycity_105', '')"
 "('mycity_106', '')" "('mycity_107', '')" "('mycity_108', '')"
 "('mycity_109', '')" "('mycity_11', '')" "('mycity_110', '')"
 "('mycity_111', '')" "('mycity_112', '')" "('mycity_113', '')"
 "('mycity_114', '')" "('mycity_115', '')" "('mycity_116', '')"
 "('mycity_117', '')" "('mycity_118', '')" "('mycity_119', '')"
 "('mycity_12', '')" "('mycity_120', '')" "('mycity_121', '')"
 "('mycity_122', '')" "('mycity_123', '')" "('mycity_124', '')"
 "('mycity_125', '')" "('mycity_126', '')" "('mycity_127', '')"
 "('mycity_128', '')" "('mycity_129', '')" "('mycity_13', '')"
 "('mycity_130', '')" "('mycity_131', '')" "('mycity_132', '')"
 "('mycity_133', '')" "('mycity_134', '')" "('mycity_135', '')"
 "('mycity_136', '')" "('mycity_137', '')" "('mycity_138', '')"
 "('mycity_139', '')" "('mycity_14', '')" "('mycity_140', '')"
 "('mycity_141', '')" "('mycity_142', '')" "('mycity_143', '')"
 "('mycity_144', '')" "('mycity_145', '')" "('mycity_146', '')"
 "('mycity_147', '')" "('mycity_148', '')" "('mycity_149', '')"
 "('mycity_15', '')" "('mycity_150', '')" "('mycity_151', '')"
 "('mycity_152', '')" "('mycity_153', '')" "('mycity_154', '')"
 "('mycity_155', '')" "('mycity_156', '')" "('mycity_157', '')"
 "('mycity_158', '')" "('mycity_159', '')" "('mycity_16', '')"
 "('mycity_160', '')" "('mycity_161', '')" "('mycity_162', '')"
 "('mycity_163', '')" "('mycity_17', '')" "('mycity_18', '')"
 "('mycity_19', '')" "('mycity_2', '')" "('mycity_20', '')"
 "('mycity_21', '')" "('mycity_22', '')" "('mycity_23', '')"
 "('mycity_24', '')" "('mycity_25', '')" "('mycity_26', '')"
 "('mycity_27', '')" "('mycity_28', '')" "('mycity_29', '')"
 "('mycity_3', '')" "('mycity_30', '')" "('mycity_31', '')"
 "('mycity_32', '')" "('mycity_33', '')" "('mycity_34', '')"
 "('mycity_35', '')" "('mycity_36', '')" "('mycity_37', '')"
 "('mycity_38', '')" "('mycity_39', '')" "('mycity_4', '')"
 "('mycity_40', '')" "('mycity_41', '')" "('mycity_42', '')"
 "('mycity_43', '')" "('mycity_44', '')" "('mycity_45', '')"
 "('mycity_46', '')" "('mycity_47', '')" "('mycity_48', '')"
 "('mycity_49', '')" "('mycity_5', '')" "('mycity_50', '')"
 "('mycity_51', '')" "('mycity_52', '')" "('mycity_53', '')"
 "('mycity_54', '')" "('mycity_55', '')" "('mycity_56', '')"
 "('mycity_57', '')" "('mycity_58', '')" "('mycity_59', '')"
 "('mycity_6', '')" "('mycity_60', '')" "('mycity_61', '')"
 "('mycity_62', '')" "('mycity_63', '')" "('mycity_64', '')"
 "('mycity_65', '')" "('mycity_66', '')" "('mycity_67', '')"
 "('mycity_68', '')" "('mycity_69', '')" "('mycity_7', '')"
 "('mycity_70', '')" "('mycity_71', '')" "('mycity_72', '')"
 "('mycity_73', '')" "('mycity_74', '')" "('mycity_75', '')"
 "('mycity_76', '')" "('mycity_77', '')" "('mycity_78', '')"
 "('mycity_79', '')" "('mycity_8', '')" "('mycity_80', '')"
 "('mycity_81', '')" "('mycity_82', '')" "('mycity_83', '')"
 "('mycity_84', '')" "('mycity_85', '')" "('mycity_86', '')"
 "('mycity_87', '')" "('mycity_88', '')" "('mycity_89', '')"
 "('mycity_9', '')" "('mycity_90', '')" "('mycity_91', '')"
 "('mycity_92', '')" "('mycity_93', '')" "('mycity_94', '')"
 "('mycity_95', '')" "('mycity_96', '')" "('mycity_97', '')"
 "('mycity_98', '')" "('mycity_99', '')"]

In [70]:
len(my_x_feature.columns)

410

In [69]:
my_testx_feature = pd.read_csv("../ourfeatures/my_bigtestX_version20.csv")
dataset_testx = pd.read_parquet("../trains/dataset_test.parquet")

In [ ]:
def delete_columns(column_list: list, dataset: pd.DataFrame):
    new_dataset = dataset.drop(column_list, axis=1)
    return new_dataset

In [214]:
dataset_testx['city'].value_counts()

,app_id,transaction_number_max,amnt_min,amnt_max,amnt_mean,amnt_median,currency_num_unique_values_x,currency_median,operation_type_group_median,operation_kind_median,...,mycity_90,mycity_91,mycity_92,mycity_93,mycity_94,mycity_95,mycity_96,mycity_97,mycity_98,mycity_99
0,805133,16,0.271738,0.562335,0.364273,0.348838,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,805134,11,0.290811,0.657194,0.424697,0.356660,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,805135,242,0.000000,0.646036,0.387859,0.390598,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,4
3,805136,33,0.000000,0.560044,0.344616,0.350662,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,805137,23,0.196203,0.582099,0.358440,0.339223,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187617,1003045,8,0.423667,0.507530,0.450073,0.433150,1,1.0,1.0,3.0,...,0,0,0,0,0,0,0,0,0,0
187618,1003047,52,0.000000,0.652660,0.389890,0.410727,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
187619,1003048,112,0.225878,0.683797,0.404899,0.387677,2,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,1,0
187620,1003049,6,0.345373,0.510295,0.478856,0.505177,1,1.0,1.0,2.0,...,0,0,0,0,0,0,0,0,0,0
187621,1003050,244,0.166103,0.491829,0.302297,0.304067,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,6

In [95]:
dataset_trainx['city'].value_counts()

1      9569439
2      4575564
3      2042261
4       963960
5       888029
        ...
162      11665
151      10596
160      10168
156       9986
131       7279
Name: city, Length: 163, dtype: int64

In [ ]:
columns_to_delete = ["mcc_median", "mcc_category_median_y", "operation_type_group_median", "income_flag_median"]

In [ ]:
new_featurex = delete_columns(columns_to_delete, my_testx_feature)

In [ ]:
new_featurex.to_csv("../ourfeatures/my_bigtestX_version6.csv", index=False)

In [8]:
def new_columns(new_agg: dict, origin_dataset: pd.DataFrame):
    new_dataset = origin_dataset.groupby("app_id").agg(new_agg)
    return new_dataset

In [6]:
def get_city_k(x):
    my_uniq = x.value_counts()
    return list(({k:my_uniq[k] if k in my_uniq else 0 for k in range(1, 164)} ).values())

In [41]:
new_columns_tofeaturex = new_columns({ "city": {get_city_k, "median"},"day_of_week": {"median", "count"}, "hour": {"median", "count"}, "weekofyear": {"median", "count"}, "hour_diff": {"median", "count"}}, dataset_trainx)

In [51]:
new_columns_tofeaturex.columns

MultiIndex([(       'city', 'median'),
            ('day_of_week',  'count'),
            ('day_of_week', 'median'),
            (       'hour',  'count'),
            (       'hour', 'median'),
            ( 'weekofyear',  'count'),
            ( 'weekofyear', 'median'),
            (  'hour_diff',  'count'),
            (  'hour_diff', 'median'),
            (   'mycity_1',       ''),
            ...
            (  'mycity_90',       ''),
            (  'mycity_91',       ''),
            (  'mycity_92',       ''),
            (  'mycity_93',       ''),
            (  'mycity_94',       ''),
            (  'mycity_95',       ''),
            (  'mycity_96',       ''),
            (  'mycity_97',       ''),
            (  'mycity_98',       ''),
            (  'mycity_99',       '')],
           length=172)

In [42]:
mynew_columns = sorted(["mycity_"+str(x) for x in list(dataset_trainx.city.value_counts().index)])

In [43]:
[i for i in new_columns_tofeaturex.columns if new_columns_tofeaturex[i].isnull().any()]

[]

In [44]:
new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()

/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()
/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/2003333069.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["city"]['get_city_k'].to_list()

In [64]:
new_columns_tofeaturex

         city day_of_week         hour        weekofyear        hour_diff  \
       median       count median count median      count median     count
app_id
1        21.0         120    4.0   120   12.0        120   29.0       120
5         1.0          47    3.0    47   17.0         47   34.0        47
6         2.0          23    6.0    23    7.0         23   47.0        23
7         1.0          28    5.0    28   13.5         28   31.0        28
11        6.0          17    3.0    17   17.0         17   31.0        17
...       ...         ...    ...   ...    ...        ...    ...       ...
805124    1.0          20    4.0    20   12.0         20   12.0        20
805125    4.0          92    3.0    92   13.0         92   11.0        92
805127   48.0           3    6.0     3   20.0          3   11.0         3
805130   16.0          53    3.0    53   14.0         53   15.0        53
805132    2.0         138    3.5   138   14.0        138   14.0       138

              mycity_1  ... mycity_90 mycity_91 mycity_92 mycity_93 mycity_94  \
       median           ...
app_id                  ...
1        15.0       23  ...         0         0         0         0         0
5        29.0       46  ...         0         0         0         0         0
6         1.0        1  ...         0         0         0         0         0
7         5.0       20  ...         0         0         0         0         0
11      133.0        3  ...         0         0         0         0         0
...       ...      ...  ...       ...       ...       ...       ...       ...
805124   17.5       19  ...         0         0         0         0         0
805125   12.0        4  ...         0         0         0         0         0
805127  731.0        1  ...         0         0         0         0         0
805130    9.0        1  ...         0         0         0         0         0
805132   13.0       15  ...         0         0         0         0         0

       mycity_95 mycity_96 mycity_97 mycity_98 mycity_99

app_id
1              0         0         0         0         0
5              0         0         0         0         0
6              0         0         0         0         0
7              0         0         0         0         0
11             0         0         0         0         0
...          ...       ...       ...       ...       ...
805124         0         0         0         0         0
805125         0         0         0         0         3
805127         0         0         0         0         0
805130         0         0         0         0         0
805132         0         0         0         0         1

[377346 rows x 172 columns]

In [46]:
new_columns_tofeaturex = new_columns_tofeaturex.drop(("city", "get_city_k"), axis=1)

In [48]:
#new_columns_tofeaturex.columns = ['_'.join(col).strip('_') for col in new_columns_tofeaturex.columns.values]
new_featurex = my_x_feature.merge(new_columns_tofeaturex, on="app_id")

/var/folders/h_/rkj_xrj91990zkj2jpcn9b840000gn/T/ipykernel_779/4195476344.py:2: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  new_featurex = my_x_feature.merge(new_columns_tofeaturex, on="app_id")

In [50]:
new_featurex.to_csv("../ourfeatures/my_bigX_version20.csv", index=False)

In [65]:
new_featurex

,app_id,transaction_number_max,amnt_min,amnt_max,amnt_mean,amnt_median,currency_num_unique_values_x,currency_median,operation_type_group_median,operation_kind_median,...,"(mycity_90, )","(mycity_91, )","(mycity_92, )","(mycity_93, )","(mycity_94, )","(mycity_95, )","(mycity_96, )","(mycity_97, )","(mycity_98, )","(mycity_99, )"
0,1,120,0.155581,0.539584,0.315662,0.297589,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
1,5,47,0.269110,0.594620,0.413886,0.431864,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,6,23,0.321124,0.605813,0.405220,0.349301,3,11.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
3,7,28,0.062575,0.476811,0.248939,0.263058,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
4,11,17,0.258972,0.516834,0.395651,0.397758,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377341,805124,20,0.178216,0.454634,0.327272,0.287526,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
377342,805125,92,0.212853,0.607141,0.341180,0.324899,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,3
377343,805127,3,0.520103,0.520103,0.520103,0.520103,1,1.0,2.0,4.0,...,0,0,0,0,0,0,0,0,0,0
377344,805130,53,0.271747,0.563568,0.406822,0.409737,3,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,0
377345,805132,138,0.153618,0.522181,0.313436,0.310411,1,1.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,1

In [37]:
from sklearn.preprocessing import Normalizer

In [131]:
[i for i in my_x_feature.columns if my_x_feature[i].isnull().any()]

[]

In [173]:
myy = pd.read_csv("../ourfeatures/y_test2.csv")

In [217]:
new_featurex['app_id']

0              1
1              5
2              6
3              7
4             11
           ...
377341    805124
377342    805125
377343    805127
377344    805130
377345    805132
Name: app_id, Length: 377346, dtype: int64

In [219]:
my_testx_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188674 entries, 0 to 188673
Columns: 241 entries, app_id to ('hour_diff', 'median')
dtypes: float64(24), int64(217)
memory usage: 346.9 MB

Int64Index([   185,    229,    465,    817,   1042,   1202,   1443,   1482,
              1667,   1696,
            ...
            375683, 375689, 376096, 376137, 376243, 376716, 376861, 377019,
            377032, 377123],
           dtype='int64', length=2444)

In [121]:
indexs = my_x_feature[my_x_feature['day_before_std'].isnull() == True].index

In [128]:
my_x_feature = my_x_feature.drop(indexs)

In [74]:
new_featurex = my_x_feature.drop(my_x_feature[my_x_feature['amnt_std'].isnull() == True].index)

In [105]:
transformer = Normalizer().fit(my_x_feature)

ValueError: Input X contains NaN.
Normalizer does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [76]:
normalised = transformer.transform(my_x_feature)

In [78]:
type(normalised)

numpy.ndarray