In [2]:
import pandas as pd
import numpy as np

In [90]:
my_x_feature = pd.read_csv("../ourfeatures/my_bigX_version5.csv")
dataset_trainx = pd.read_parquet("../trains/dataset_train_small.parquet")

In [93]:
my_testx_feature = pd.read_csv("../ourfeatures/my_bigtestX_version5.csv")
dataset_testx = pd.read_parquet("../trains/dataset_test.parquet")

In [68]:
def delete_columns(column_list: list, dataset: pd.DataFrame):
    new_dataset = dataset.drop(column_list, axis=1)
    return new_dataset

In [12]:
my_x_feature.columns

Index(['Unnamed: 0', 'transaction_number_max', 'amnt_min', 'amnt_max',
       'amnt_mean', 'amnt_median', 'currency_num_unique_values',
       'operation_type_group_median', 'operation_kind_median',
       'income_flag_median', 'payment_system_median', 'ecommerce_flag_mean',
       'days_before_min', 'days_before_mean', 'days_before_max',
       'country_num_unique_values', 'country_median', 'city_num_unique_values',
       'city_median', 'day_of_week_num_unique_values', 'day_of_week_mean',
       'operation_type_group1', 'operation_type_group2',
       'operation_type_group3', 'operation_type_group4', 'operation_kind1',
       'operation_kind2', 'operation_kind3', 'operation_kind4',
       'operation_kind5', 'operation_kind6', 'operation_kind7', 'income_flag1',
       'income_flag2', 'income_flag3', 'payment_system1', 'payment_system2',
       'payment_system3', 'payment_system4', 'payment_system5',
       'payment_system6', 'payment_system7', 'ecommerce_flag1',
       'ecommerce_flag2', 'ecommerce_flag3', 'product'],
      dtype='object')

In [89]:
columns_to_delete = ["mcc_median", "mcc_category_median_y", "operation_type_group_median", "income_flag_median"]

In [94]:
new_featurex = delete_columns(columns_to_delete, my_testx_feature)

In [95]:
new_featurex.to_csv("../ourfeatures/my_bigtestX_version6.csv", index=False)

In [6]:
def new_columns(new_agg: dict, origin_dataset: pd.DataFrame):
    new_dataset = origin_dataset.groupby("app_id").agg(new_agg)
    return new_dataset

In [4]:
def num_unique_values(x):
    return len(x.unique())

In [83]:
new_columns_tofeaturex = new_columns({"mcc": {"median"}, "mcc_category": {"median"}}, dataset_testx)

In [85]:
new_columns_tofeaturex

           mcc mcc_category
        median       median
app_id
805133     8.5          2.0
805134     1.0          1.0
805135     5.5          4.0
805136    15.0          6.0
805137     3.0          2.0
...        ...          ...
1003045   11.0          8.0
1003047   13.0          6.0
1003048    7.0          5.0
1003049    2.0          2.0
1003050    3.0          3.0

[188674 rows x 2 columns]

In [86]:
new_columns_tofeaturex.columns = ['_'.join(col).strip('_') for col in new_columns_tofeaturex.columns.values]
new_featurex = my_testx_feature.merge(new_columns_tofeaturex, on="app_id")

In [81]:
new_featurex

,app_id,transaction_number_max,amnt_min,amnt_max,amnt_mean,amnt_median,currency_num_unique_values_x,currency_median,operation_type_group_median,operation_kind_median,...,mcc_num_unique_values,operation_type_num_unique_values,currency_num_unique_values_y,operation_kind_num_unique_values,card_type_num_unique_values_y,operation_type_group_num_unique_values,ecommerce_flag_num_unique_values,payment_system_num_unique_values,mcc_median,mcc_category_median_y
0,1,120,0.155581,0.539584,0.315662,0.297589,1,1.0,1.0,1.0,...,15,4,1,3,1,2,2,3,3.0,4.0
1,5,47,0.269110,0.594620,0.413886,0.431864,1,1.0,1.0,1.0,...,7,2,1,2,1,1,1,2,2.0,2.0
2,6,23,0.321124,0.605813,0.405220,0.349301,3,11.0,1.0,1.0,...,10,3,3,2,2,1,2,3,5.0,4.0
3,7,28,0.062575,0.476811,0.248939,0.263058,1,1.0,1.0,1.0,...,9,4,1,3,1,1,2,2,6.0,3.0
4,11,17,0.258972,0.516834,0.395651,0.397758,1,1.0,1.0,1.0,...,6,3,1,3,1,2,2,2,7.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377341,805124,20,0.178216,0.454634,0.327272,0.287526,1,1.0,1.0,1.0,...,5,4,1,3,1,2,1,3,1.5,1.5
377342,805125,92,0.212853,0.607141,0.341180,0.324899,1,1.0,1.0,1.0,...,16,5,1,4,1,2,2,4,3.0,4.0
377343,805127,3,0.520103,0.520103,0.520103,0.520103,1,1.0,2.0,4.0,...,1,1,1,1,1,1,1,1,2.0,2.0
377344,805130,53,0.271747,0.563568,0.406822,0.409737,3,1.0,1.0,1.0,...,19,6,3,4,2,2,1,3,10.0,4.0
377345,805132,138,0.153618,0.522181,0.313436,0.310411,1,1.0,1.0,1.0,...,22,6,1,4,1,2,2,3,1.0,1.0

In [87]:
new_featurex.to_csv("../ourfeatures/my_bigtestX_version5.csv", index=False)