In [1]:
import pandas as pd
import numpy as np

In [158]:
my_x_feature = pd.read_csv("../ourfeatures/my_bigX_version23.csv")
dataset_trainx = pd.read_parquet("../trains/dataset_train_small.parquet")

In [114]:
dataset_trainx['weekofyear'].unique()

array([42, 48, 46, 20, 36, 32, 33, 28, 35, 18, 43,  8, 19,  2, 44, 21,  4,
        7, 13, 22, 10, 11,  3, 40, 15,  5,  6, 37, 23,  9, 14, 12, 29, 41,
       16, 17, 49, 25, 27, 26, 45, 31, 38, 30, 47, 51, 34,  1, 24, 50, 39,
       52])

In [43]:
print(sorted(my_x_feature.values))

["('city', 'median')", "('day_of_week', 'count')", "('day_of_week', 'median')", "('hour', 'count')", "('hour', 'median')", "('hour_diff', 'count')", "('hour_diff', 'median')", "('mycity_1', '')", "('mycity_10', '')", "('mycity_100', '')", "('mycity_101', '')", "('mycity_102', '')", "('mycity_103', '')", "('mycity_104', '')", "('mycity_105', '')", "('mycity_106', '')", "('mycity_107', '')", "('mycity_108', '')", "('mycity_109', '')", "('mycity_11', '')", "('mycity_110', '')", "('mycity_111', '')", "('mycity_112', '')", "('mycity_113', '')", "('mycity_114', '')", "('mycity_115', '')", "('mycity_116', '')", "('mycity_117', '')", "('mycity_118', '')", "('mycity_119', '')", "('mycity_12', '')", "('mycity_120', '')", "('mycity_121', '')", "('mycity_122', '')", "('mycity_123', '')", "('mycity_124', '')", "('mycity_125', '')", "('mycity_126', '')", "('mycity_127', '')", "('mycity_128', '')", "('mycity_129', '')", "('mycity_13', '')", "('mycity_130', '')", "('mycity_131', '')", "('mycity_132', '')", "('mycity_133', '')", "('mycity_134', '')", "('mycity_135', '')", "('mycity_136', '')", "('mycity_137', '')", "('mycity_138', '')", "('mycity_139', '')", "('mycity_14', '')", "('mycity_140', '')", "('mycity_141', '')", "('mycity_142', '')", "('mycity_143', '')", "('mycity_144', '')", "('mycity_145', '')", "('mycity_146', '')", "('mycity_147', '')", "('mycity_148', '')", "('mycity_149', '')", "('mycity_15', '')", "('mycity_150', '')", "('mycity_151', '')", "('mycity_152', '')", "('mycity_153', '')", "('mycity_154', '')", "('mycity_155', '')", "('mycity_156', '')", "('mycity_157', '')", "('mycity_158', '')", "('mycity_159', '')", "('mycity_16', '')", "('mycity_160', '')", "('mycity_161', '')", "('mycity_162', '')", "('mycity_163', '')", "('mycity_17', '')", "('mycity_18', '')", "('mycity_19', '')", "('mycity_2', '')", "('mycity_20', '')", "('mycity_21', '')", "('mycity_22', '')", "('mycity_23', '')", "('mycity_24', '')", "('mycity_25', '')", "('mycity_26', '')", "('mycity_27', '')", "('mycity_28', '')", "('mycity_29', '')", "('mycity_3', '')", "('mycity_30', '')", "('mycity_31', '')", "('mycity_32', '')", "('mycity_33', '')", "('mycity_34', '')", "('mycity_35', '')", "('mycity_36', '')", "('mycity_37', '')", "('mycity_38', '')", "('mycity_39', '')", "('mycity_4', '')", "('mycity_40', '')", "('mycity_41', '')", "('mycity_42', '')", "('mycity_43', '')", "('mycity_44', '')", "('mycity_45', '')", "('mycity_46', '')", "('mycity_47', '')", "('mycity_48', '')", "('mycity_49', '')", "('mycity_5', '')", "('mycity_50', '')", "('mycity_51', '')", "('mycity_52', '')", "('mycity_53', '')", "('mycity_54', '')", "('mycity_55', '')", "('mycity_56', '')", "('mycity_57', '')", "('mycity_58', '')", "('mycity_59', '')", "('mycity_6', '')", "('mycity_60', '')", "('mycity_61', '')", "('mycity_62', '')", "('mycity_63', '')", "('mycity_64', '')", "('mycity_65', '')", "('mycity_66', '')", "('mycity_67', '')", "('mycity_68', '')", "('mycity_69', '')", "('mycity_7', '')", "('mycity_70', '')", "('mycity_71', '')", "('mycity_72', '')", "('mycity_73', '')", "('mycity_74', '')", "('mycity_75', '')", "('mycity_76', '')", "('mycity_77', '')", "('mycity_78', '')", "('mycity_79', '')", "('mycity_8', '')", "('mycity_80', '')", "('mycity_81', '')", "('mycity_82', '')", "('mycity_83', '')", "('mycity_84', '')", "('mycity_85', '')", "('mycity_86', '')", "('mycity_87', '')", "('mycity_88', '')", "('mycity_89', '')", "('mycity_9', '')", "('mycity_90', '')", "('mycity_91', '')", "('mycity_92', '')", "('mycity_93', '')", "('mycity_94', '')", "('mycity_95', '')", "('mycity_96', '')", "('mycity_97', '')", "('mycity_98', '')", "('mycity_99', '')", "('weekofyear', 'count')", "('weekofyear', 'median')", 'amnt_max', 'amnt_mean', 'amnt_median', 'amnt_min', 'amnt_std', 'app_id', 'card_type_num_unique_values_x', 'card_type_num_unique_values_y', 'city_median', 'city_num_unique_values', 'country_median', 'country_num_unique_values', 'currency_1', 'currency_10', 'currency_11', 'currency_2', 'currency_3', 'currency_4', 'currency_5', 'currency_6', 'currency_7', 'currency_8', 'currency_9', 'currency_median', 'currency_num_unique_values_x', 'currency_num_unique_values_y', 'day_before_std', 'day_of_week_count', 'day_of_week_mean', 'day_of_week_median', 'day_of_week_num_unique_values', 'days_before_max', 'days_before_mean', 'days_before_min', 'days_before_num_unique_values', 'ecommerce_flag1', 'ecommerce_flag2', 'ecommerce_flag3', 'ecommerce_flag_mean', 'ecommerce_flag_num_unique_values', 'hour_diff_mean', 'hour_num_unique_values', 'income_flag1', 'income_flag2', 'income_flag3', 'income_flag_median', 'mcc_category1', 'mcc_category10', 'mcc_category11', 'mcc_category12', 'mcc_category13', 'mcc_category14', 'mcc_category15', 'mcc_category16', 'mcc_category17', 'mcc_category18', 'mcc_category19', 'mcc_category2', 'mcc_category20', 'mcc_category21', 'mcc_category22', 'mcc_category23', 'mcc_category24', 'mcc_category25', 'mcc_category26', 'mcc_category27', 'mcc_category28', 'mcc_category3', 'mcc_category4', 'mcc_category5', 'mcc_category6', 'mcc_category7', 'mcc_category8', 'mcc_category9', 'mcc_category_mean', 'mcc_category_median_x', 'mcc_category_median_y', 'mcc_category_num_unique_values', 'mcc_median', 'mcc_num_unique_values', 'mcountry_1', 'mcountry_10', 'mcountry_11', 'mcountry_12', 'mcountry_13', 'mcountry_14', 'mcountry_15', 'mcountry_16', 'mcountry_17', 'mcountry_18', 'mcountry_19', 'mcountry_2', 'mcountry_20', 'mcountry_21', 'mcountry_22', 'mcountry_23', 'mcountry_24', 'mcountry_3', 'mcountry_4', 'mcountry_5', 'mcountry_6', 'mcountry_7', 'mcountry_8', 'mcountry_9', 'my_dayofweek1', 'my_dayofweek2', 'my_dayofweek3', 'my_dayofweek4', 'my_dayofweek5', 'my_dayofweek6', 'my_dayofweek7', 'mymcc1', 'mymcc10', 'mymcc100', 'mymcc101', 'mymcc102', 'mymcc103', 'mymcc104', 'mymcc105', 'mymcc106', 'mymcc107', 'mymcc108', 'mymcc11', 'mymcc12', 'mymcc13', 'mymcc14', 'mymcc15', 'mymcc16', 'mymcc17', 'mymcc18', 'mymcc19', 'mymcc2', 'mymcc20', 'mymcc21', 'mymcc22', 'mymcc23', 'mymcc24', 'mymcc25', 'mymcc26', 'mymcc27', 'mymcc28', 'mymcc29', 'mymcc3', 'mymcc30', 'mymcc31', 'mymcc32', 'mymcc33', 'mymcc34', 'mymcc35', 'mymcc36', 'mymcc37', 'mymcc38', 'mymcc39', 'mymcc4', 'mymcc40', 'mymcc41', 'mymcc42', 'mymcc43', 'mymcc44', 'mymcc45', 'mymcc46', 'mymcc47', 'mymcc48', 'mymcc49', 'mymcc5', 'mymcc50', 'mymcc51', 'mymcc52', 'mymcc53', 'mymcc54', 'mymcc55', 'mymcc56', 'mymcc57', 'mymcc58', 'mymcc59', 'mymcc6', 'mymcc60', 'mymcc61', 'mymcc62', 'mymcc63', 'mymcc64', 'mymcc65', 'mymcc66', 'mymcc67', 'mymcc68', 'mymcc69', 'mymcc7', 'mymcc70', 'mymcc71', 'mymcc72', 'mymcc73', 'mymcc74', 'mymcc75', 'mymcc76', 'mymcc77', 'mymcc78', 'mymcc79', 'mymcc8', 'mymcc80', 'mymcc81', 'mymcc82', 'mymcc83', 'mymcc84', 'mymcc85', 'mymcc86', 'mymcc87', 'mymcc88', 'mymcc89', 'mymcc9', 'mymcc90', 'mymcc91', 'mymcc92', 'mymcc93', 'mymcc94', 'mymcc95', 'mymcc96', 'mymcc97', 'mymcc98', 'mymcc99', 'operation_kind1', 'operation_kind2', 'operation_kind3', 'operation_kind4', 'operation_kind5', 'operation_kind6', 'operation_kind7', 'operation_kind_median', 'operation_kind_num_unique_values', 'operation_type_group1', 'operation_type_group2', 'operation_type_group3', 'operation_type_group4', 'operation_type_group_median', 'operation_type_group_num_unique_values', 'operation_type_num_unique_values', 'payment_system1', 'payment_system2', 'payment_system3', 'payment_system4', 'payment_system5', 'payment_system6', 'payment_system7', 'payment_system_median', 'payment_system_num_unique_values', 'product', 'transaction_number_max', 'weekofyear_num_unique_values']

In [70]:
len(my_x_feature.columns)

410

In [60]:
dataset_trainx['payment_system'].value_counts()

payment_system
3    15447934
1     9055135
2     6037129
4     1961871
5       93350
6       40556
7          12
Name: count, dtype: int64

In [147]:
my_testx_feature = pd.read_csv("../ourfeatures/my_bigXtest_version22.csv")
dataset_testx = pd.read_parquet("../trains/dataset_test.parquet")

[6569,
 7611,
 13463,
 13525,
 21830,
 25526,
 29668,
 38985,
 49392,
 57940,
 113082,
 115876,
 137317,
 158174,
 160051,
 216064,
 381362,
 490883,
 603306,
 917849,
 5989389,
 9251316]

In [ ]:
def delete_columns(column_list: list, dataset: pd.DataFrame):
    new_dataset = dataset.drop(column_list, axis=1)
    return new_dataset

In [125]:
dataset_testx['weekofyear'].unique()

array([13, 22, 10, 11,  3, 40,  6, 15,  5, 37, 23,  9, 14, 12, 16, 17, 29,
       41, 25, 26, 49, 27, 45, 47, 30, 31, 38])

In [126]:
dataset_trainx['weekofyear'].unique()

array([42, 48, 46, 20, 36, 32, 33, 28, 35, 18, 43,  8, 19,  2, 44, 21,  4,
        7, 13, 22, 10, 11,  3, 40, 15,  5,  6, 37, 23,  9, 14, 12, 29, 41,
       16, 17, 49, 25, 27, 26, 45, 31, 38, 30, 47, 51, 34,  1, 24, 50, 39,
       52])

In [ ]:
columns_to_delete = ["income_flag_median", "day_before_std"]

In [ ]:
new_featurex = delete_columns(columns_to_delete, my_testx_feature)

In [ ]:
new_featurex.to_csv("../ourfeatures/my_bigtestX_version6.csv", index=False)

In [13]:
def new_columns(new_agg: dict, origin_dataset: pd.DataFrame):
    new_dataset = origin_dataset.groupby("app_id").agg(new_agg)
    return new_dataset

In [121]:
def get_week_of_year_k(x):
    my_uniq = x.value_counts()
    return list(({k:my_uniq[k] if k in my_uniq else 0 for k in range(1, 28)} ).values())

In [122]:
def get_days_before_k(x):
    my_uniq = x.value_counts()
    return list(({k:my_uniq[k] if k in my_uniq else 0 for k in range(1, 93)} ).values())

In [148]:
new_columns_tofeaturex = new_columns({ "weekofyear": get_week_of_year_k, "days_before": get_days_before_k }, dataset_testx)

In [137]:
mynew_columns = sorted(["my_weekofyear_"+str(x) for x in list(dataset_testx.weekofyear.value_counts().index)])

In [128]:
mynew_columns2 = sorted(["my_day_of_week_"+str(x) for x in list(dataset_testx.days_before.value_counts().index)])

In [19]:
[i for i in new_columns_tofeaturex.columns if new_columns_tofeaturex[i].isnull().any()]

[]

In [138]:
len(mynew_columns)

27

In [151]:
new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()

C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()
C:\Users\vladb\AppData\Local\Temp\ipykernel_7124\224639885.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  new_columns_tofeaturex[mynew_columns] = new_columns_tofeaturex["weekofyear"].to_list()

In [155]:
new_columns_tofeaturex

,my_day_of_week_1,my_day_of_week_10,my_day_of_week_11,my_day_of_week_12,my_day_of_week_13,my_day_of_week_14,my_day_of_week_15,my_day_of_week_16,my_day_of_week_17,my_day_of_week_18,...,my_weekofyear_37,my_weekofyear_38,my_weekofyear_40,my_weekofyear_41,my_weekofyear_45,my_weekofyear_47,my_weekofyear_49,my_weekofyear_5,my_weekofyear_6,my_weekofyear_9
app_id,,,,,,,,,,,,,,,,,,,,,
805133,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
805134,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
805135,1,2,5,4,5,5,6,5,4,2,...,0,0,0,0,12,29,0,0,0,0
805136,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,4,4,0,0,0,0
805137,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1003045,0,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,3
1003047,0,2,0,1,3,0,0,2,2,3,...,0,0,0,0,0,0,0,4,5,3
1003048,2,0,0,0,5,2,3,2,2,3,...,0,0,0,0,0,0,0,14,16,1
1003049,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1003050,1,0,0,0,0,0,0,0,2,6,...,0,0,0,0,0,0,0,21,17,12

In [154]:
new_columns_tofeaturex = new_columns_tofeaturex.drop(("weekofyear"), axis=1)

In [156]:
#new_columns_tofeaturex.columns = ['_'.join(col).strip('_') for col in new_columns_tofeaturex.columns.values]
new_featurex = my_testx_feature.merge(new_columns_tofeaturex, on="app_id")

In [157]:
new_featurex.to_csv("../ourfeatures/my_bigXtest_version23.csv", index=False)

In [26]:
new_featurex

,app_id,transaction_number_max,amnt_min,amnt_max,amnt_mean,amnt_median,currency_num_unique_values_x,currency_median,operation_type_group_median,operation_kind_median,...,"('mycity_99', '')",day_of_week_count,day_of_week_median,my_dayofweek1,my_dayofweek2,my_dayofweek3,my_dayofweek4,my_dayofweek5,my_dayofweek6,my_dayofweek7
0,1,120,0.155581,0.539584,0.315662,0.297589,1,1.0,1.0,1.0,...,0,120,4.0,11,11,26,27,14,17,14
1,5,47,0.269110,0.594620,0.413886,0.431864,1,1.0,1.0,1.0,...,0,47,3.0,10,4,10,5,7,7,4
2,6,23,0.321124,0.605813,0.405220,0.349301,3,11.0,1.0,1.0,...,0,23,6.0,1,2,1,0,0,16,3
3,7,28,0.062575,0.476811,0.248939,0.263058,1,1.0,1.0,1.0,...,0,28,5.0,0,1,3,8,12,2,2
4,11,17,0.258972,0.516834,0.395651,0.397758,1,1.0,1.0,1.0,...,0,17,3.0,4,3,3,2,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377341,805124,20,0.178216,0.454634,0.327272,0.287526,1,1.0,1.0,1.0,...,0,20,4.0,2,1,0,10,2,5,0
377342,805125,92,0.212853,0.607141,0.341180,0.324899,1,1.0,1.0,1.0,...,3,92,3.0,19,17,14,12,10,6,14
377343,805127,3,0.520103,0.520103,0.520103,0.520103,1,1.0,2.0,4.0,...,0,3,6.0,0,0,0,1,0,1,1
377344,805130,53,0.271747,0.563568,0.406822,0.409737,3,1.0,1.0,1.0,...,0,53,3.0,16,5,8,8,5,3,8
377345,805132,138,0.153618,0.522181,0.313436,0.310411,1,1.0,1.0,1.0,...,1,138,3.5,23,28,18,17,15,21,16

In [37]:
from sklearn.preprocessing import Normalizer

In [44]:
[i for i in my_x_feature.columns if my_x_feature[i].isnull().any()]

['day_before_std', 'amnt_std']

In [173]:
myy = pd.read_csv("../ourfeatures/y_test2.csv")

In [217]:
new_featurex['app_id']

0              1
1              5
2              6
3              7
4             11
           ...
377341    805124
377342    805125
377343    805127
377344    805130
377345    805132
Name: app_id, Length: 377346, dtype: int64

In [219]:
my_testx_feature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188674 entries, 0 to 188673
Columns: 241 entries, app_id to ('hour_diff', 'median')
dtypes: float64(24), int64(217)
memory usage: 346.9 MB

Int64Index([   185,    229,    465,    817,   1042,   1202,   1443,   1482,
              1667,   1696,
            ...
            375683, 375689, 376096, 376137, 376243, 376716, 376861, 377019,
            377032, 377123],
           dtype='int64', length=2444)

In [121]:
indexs = my_x_feature[my_x_feature['day_before_std'].isnull() == True].index

In [128]:
my_x_feature = my_x_feature.drop(indexs)

In [74]:
new_featurex = my_x_feature.drop(my_x_feature[my_x_feature['amnt_std'].isnull() == True].index)

In [105]:
transformer = Normalizer().fit(my_x_feature)

ValueError: Input X contains NaN.
Normalizer does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values

In [76]:
normalised = transformer.transform(my_x_feature)

In [78]:
type(normalised)

numpy.ndarray