In [1]:
!pip install pandas pyarrow scikit-learn gdown
!gdown https://drive.google.com/uc?id=1HjAHsB2zpUxA9Do3tBwjPbVQHEGFfEaU
!gdown https://drive.google.com/uc?id=1nrOugQVzM5T0GbBwwd0yf3t4d5ijegDQ
!gdown https://drive.google.com/uc?id=1SfBZqoUZs-nqZocLdaF7-1IPORIF1a_s
!gdown https://drive.google.com/uc?id=1wpfkK6AEPolTNI2Q-BO6wLop6qsdk4Zu

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (1.5.3)
Collecting pyarrow
  Downloading pyarrow-11.0.0-cp310-cp310-win_amd64.whl (20.6 MB)
     --------------------------------------- 20.6/20.6 MB 10.6 MB/s eta 0:00:00
Requirement already satisfied: scikit-learn in d:\anaconda\lib\site-packages (1.2.1)
Collecting gdown
  Downloading gdown-4.7.1-py3-none-any.whl (15 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in d:\anaconda\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: joblib>=1.1.1 in d:\anaconda\lib\site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in d:\anaconda\lib\site-packages (from scikit-learn) (1.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: beautifulsoup4 in d:\anaconda\lib\site-packages (from gdown) (4.11.1)
Requirement already satisfied: requests[socks] in d:\anaconda\lib\site-packages (from gdown) (2.28.1)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from gdown) (1.16.0)
Requirement already satisfied: tqdm in d:\anaconda\lib\site-packages (from gdown) (4.64.1)
Requirement already satisfied: filelock in d:\anaconda\lib\site-packages (from gdown) (3.9.0)
Requirement already satisfied: soupsieve>1.2 in d:\anaconda\lib\site-packages (from beautifulsoup4->gdown) (2.3.2.post1)
Requirement already satisfied: idna<4,>=2.5 in d:\anaconda\lib\site-packages (from requests[socks]->gdown) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in d:\anaconda\lib\site-packages (from requests[socks]->gdown) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in d:\anaconda\lib\site-packages (from requests[socks]->gdown) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in d:\anaconda\lib\site-packages (from requests[socks]->gdown) (2022.12.7)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in d:\anaconda\lib\site-packages (from requests[socks]->gdown) (1.7.1)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from tqdm->gdown) (0.4.6)
Installing collected packages: pyarrow, gdown
Successfully installed gdown-4.7.1 pyarrow-11.0.0

Downloading...
From (uriginal): https://drive.google.com/uc?id=1HjAHsB2zpUxA9Do3tBwjPbVQHEGFfEaU
From (redirected): https://drive.google.com/uc?id=1HjAHsB2zpUxA9Do3tBwjPbVQHEGFfEaU&confirm=t&uuid=3f5e7be5-3484-4a0d-b9a9-94c26181f7de
To: C:\Users\Максим\Alfa\dataset_train_small.parquet

  0%|          | 0.00/396M [00:00<?, ?B/s]
  0%|          | 524k/396M [00:00<01:22, 4.79MB/s]
  1%|          | 2.10M/396M [00:00<00:40, 9.63MB/s]
  1%|          | 3.15M/396M [00:00<00:48, 8.09MB/s]
  1%|1         | 5.24M/396M [00:00<00:33, 11.7MB/s]
  2%|1         | 6.82M/396M [00:00<00:32, 12.0MB/s]
  2%|2         | 8.39M/396M [00:00<00:34, 11.3MB/s]
  3%|2         | 9.96M/396M [00:00<00:33, 11.7MB/s]
  3%|2         | 11.5M/396M [00:01<00:38, 9.91MB/s]
  4%|3         | 14.2M/396M [00:01<00:30, 12.4MB/s]
  4%|3         | 15.7M/396M [00:01<00:30, 12.5MB/s]
  4%|4         | 17.3M/396M [00:01<00:30, 12.5MB/s]
  5%|4         | 18.9M/396M [00:01<00:31, 12.1MB/s]
  5%|5         | 20.4M/396M [00:01<00:30, 12.2MB/s]
  6%|5         | 22.0M/396M [00:01<00:29, 12.6MB/s]
  6%|5         | 23.6M/396M [00:02<00:29, 12.6MB/s]
  6%|6         | 25.2M/396M [00:02<00:29, 12.6MB/s]
  7%|6         | 26.7M/396M [00:02<00:29, 12.6MB/s]
  7%|7         | 28.3M/396M [00:02<00:29, 12.6MB/s]
  8%|7         | 29.9M/396M [00:02<00:29, 12.6MB/s]
  8%|7         | 31.5M/396M [00:02<00:28, 12.6MB/s]
  8%|8         | 33.0M/396M [00:02<00:28, 12.6MB/s]
  9%|8         | 34.6M/396M [00:02<00:28, 12.6MB/s]
  9%|9         | 36.2M/396M [00:03<00:28, 12.6MB/s]
 10%|9         | 37.7M/396M [00:03<00:28, 12.6MB/s]
 10%|9         | 39.3M/396M [00:03<00:28, 12.4MB/s]
 10%|#         | 40.9M/396M [00:03<00:28, 12.5MB/s]
 11%|#         | 42.5M/396M [00:03<00:29, 12.1MB/s]
 11%|#1        | 44.0M/396M [00:03<00:29, 12.0MB/s]
 12%|#1        | 45.6M/396M [00:03<00:28, 12.2MB/s]
 12%|#1        | 47.2M/396M [00:03<00:28, 12.3MB/s]
 12%|#2        | 48.8M/396M [00:04<00:28, 12.4MB/s]
 13%|#2        | 50.3M/396M [00:04<00:27, 12.7MB/s]
 13%|#3        | 51.9M/396M [00:04<00:28, 12.2MB/s]
 13%|#3        | 53.5M/396M [00:04<00:27, 12.5MB/s]
 14%|#3        | 55.1M/396M [00:04<00:27, 12.5MB/s]
 14%|#4        | 56.6M/396M [00:04<00:27, 12.4MB/s]
 15%|#4        | 58.2M/396M [00:04<00:27, 12.4MB/s]
 15%|#5        | 59.8M/396M [00:04<00:27, 12.0MB/s]
 15%|#5        | 61.3M/396M [00:05<00:30, 11.0MB/s]
 16%|#5        | 62.9M/396M [00:05<00:38, 8.74MB/s]
 16%|#6        | 64.5M/396M [00:05<00:34, 9.63MB/s]
 17%|#6        | 66.1M/396M [00:05<00:31, 10.4MB/s]
 17%|#7        | 67.6M/396M [00:05<00:30, 10.9MB/s]
 17%|#7        | 69.2M/396M [00:05<00:28, 11.4MB/s]
 18%|#7        | 70.8M/396M [00:06<00:28, 11.6MB/s]
 18%|#8        | 72.4M/396M [00:06<00:28, 11.4MB/s]
 19%|#8        | 73.9M/396M [00:06<00:27, 11.8MB/s]
 19%|#9        | 75.5M/396M [00:06<00:26, 12.0MB/s]
 19%|#9        | 77.1M/396M [00:06<00:26, 12.2MB/s]
 20%|#9        | 78.6M/396M [00:06<00:25, 12.3MB/s]
 20%|##        | 80.2M/396M [00:06<00:27, 11.5MB/s]
 21%|##        | 81.8M/396M [00:06<00:26, 11.7MB/s]
 21%|##1       | 83.4M/396M [00:07<00:28, 11.1MB/s]
 22%|##1       | 85.5M/396M [00:07<00:25, 12.3MB/s]
 22%|##1       | 87.0M/396M [00:07<00:27, 11.1MB/s]
 22%|##2       | 89.1M/396M [00:07<00:23, 13.0MB/s]
 23%|##2       | 90.7M/396M [00:07<00:23, 12.9MB/s]
 23%|##3       | 92.3M/396M [00:07<00:23, 12.8MB/s]
 24%|##3       | 93.8M/396M [00:07<00:23, 12.7MB/s]
 24%|##4       | 95.4M/396M [00:08<00:24, 12.5MB/s]
 24%|##4       | 97.0M/396M [00:08<00:23, 12.5MB/s]
 25%|##4       | 98.6M/396M [00:08<00:23, 12.6MB/s]
 25%|##5       | 100M/396M [00:08<00:23, 12.6MB/s]
 26%|##5       | 102M/396M [00:08<00:23, 12.6MB/s]
 26%|##6       | 103M/396M [00:08<00:23, 12.4MB/s]
 26%|##6       | 105M/396M [00:08<00:23, 12.4MB/s]
 27%|##6       | 106M/396M [00:08<00:23, 12.5MB/s]
 27%|##7       | 108M/396M [00:09<00:23, 12.1MB/s]
 28%|##7       | 110M/396M [00:09<00:23, 12.4MB/s]
 28%|##8       | 111M/396M [00:09<00:22, 12.4MB/s]
 28%|##8       | 113M/396M [00:09<00:22, 12.4MB/s]
 29%|##8       | 114M/396M [00:09<00:22, 12.4MB/s]
 29%|##9       | 116M/396M [00:09<00:22, 12.6MB/s]
 30%|##9       | 117M/396M [00:09<00:24, 11.3MB/s]
 30%|###       | 119M/396M [00:09<00:24, 11.5MB/s]
 30%|###       | 121M/396M [00:10<00:23, 11.6MB/s]
 31%|###       | 122M/396M [00:10<00:26, 10.4MB/s]
 31%|###1      | 124M/396M [00:10<00:25, 10.6MB/s]
 32%|###1      | 125M/396M [00:10<00:30, 8.82MB/s]
 32%|###2      | 127M/396M [00:10<00:27, 9.69MB/s]
 32%|###2      | 128M/396M [00:10<00:25, 10.4MB/s]
 33%|###2      | 130M/396M [00:11<00:25, 10.3MB/s]
 33%|###3      | 132M/396M [00:11<00:25, 10.5MB/s]
 34%|###3      | 133M/396M [00:11<00:23, 11.1MB/s]
 34%|###3      | 135M/396M [00:11<00:23, 11.3MB/s]
 34%|###4      | 136M/396M [00:11<00:22, 11.7MB/s]
 35%|###4      | 138M/396M [00:11<00:21, 11.9MB/s]
 35%|###5      | 139M/396M [00:11<00:21, 11.9MB/s]
 36%|###5      | 141M/396M [00:12<00:21, 11.7MB/s]
 36%|###5      | 143M/396M [00:12<00:21, 12.0MB/s]
 36%|###6      | 144M/396M [00:12<00:20, 12.1MB/s]
 37%|###6      | 146M/396M [00:12<00:21, 11.7MB/s]
 37%|###7      | 147M/396M [00:12<00:20, 11.9MB/s]
 38%|###7      | 149M/396M [00:12<00:20, 12.1MB/s]
 38%|###7      | 150M/396M [00:12<00:19, 12.5MB/s]
 38%|###8      | 152M/396M [00:12<00:19, 12.5MB/s]
 39%|###8      | 154M/396M [00:13<00:19, 12.8MB/s]
 39%|###9      | 155M/396M [00:13<00:19, 12.6MB/s]
 40%|###9      | 157M/396M [00:13<00:18, 12.6MB/s]
 40%|###9      | 158M/396M [00:13<00:18, 12.5MB/s]
 40%|####      | 160M/396M [00:13<00:18, 12.6MB/s]
 41%|####      | 161M/396M [00:13<00:19, 12.3MB/s]
 41%|####1     | 163M/396M [00:13<00:18, 12.4MB/s]
 42%|####1     | 165M/396M [00:13<00:17, 12.9MB/s]
 42%|####1     | 166M/396M [00:14<00:18, 12.4MB/s]
 42%|####2     | 168M/396M [00:14<00:17, 12.7MB/s]
 43%|####2     | 169M/396M [00:14<00:17, 12.7MB/s]
 43%|####3     | 171M/396M [00:14<00:19, 11.4MB/s]
 44%|####3     | 172M/396M [00:14<00:18, 12.1MB/s]
 44%|####3     | 174M/396M [00:14<00:17, 12.7MB/s]
 44%|####4     | 176M/396M [00:14<00:18, 12.2MB/s]
 45%|####4     | 177M/396M [00:14<00:17, 12.8MB/s]
 45%|####5     | 179M/396M [00:15<00:17, 12.5MB/s]
 46%|####5     | 180M/396M [00:15<00:17, 12.5MB/s]
 46%|####5     | 182M/396M [00:15<00:17, 12.1MB/s]
 46%|####6     | 184M/396M [00:15<00:16, 12.7MB/s]
 47%|####6     | 185M/396M [00:15<00:16, 12.5MB/s]
 47%|####7     | 187M/396M [00:15<00:24, 8.43MB/s]
 48%|####7     | 189M/396M [00:16<00:21, 9.49MB/s]
 48%|####8     | 190M/396M [00:16<00:20, 10.2MB/s]
 48%|####8     | 192M/396M [00:16<00:19, 10.5MB/s]
 49%|####8     | 193M/396M [00:16<00:18, 11.0MB/s]
 49%|####9     | 195M/396M [00:16<00:17, 11.4MB/s]
 50%|####9     | 197M/396M [00:16<00:17, 11.7MB/s]
 50%|#####     | 198M/396M [00:16<00:15, 12.4MB/s]
 50%|#####     | 200M/396M [00:16<00:15, 12.4MB/s]
 51%|#####     | 201M/396M [00:17<00:15, 12.4MB/s]
 51%|#####1    | 203M/396M [00:17<00:16, 11.6MB/s]
 52%|#####1    | 204M/396M [00:17<00:17, 10.9MB/s]
 52%|#####2    | 207M/396M [00:17<00:15, 12.3MB/s]
 53%|#####2    | 208M/396M [00:17<00:15, 12.4MB/s]
 53%|#####2    | 210M/396M [00:17<00:15, 12.4MB/s]
 53%|#####3    | 211M/396M [00:17<00:15, 12.3MB/s]
 54%|#####3    | 213M/396M [00:18<00:14, 12.4MB/s]
 54%|#####4    | 214M/396M [00:18<00:14, 12.4MB/s]
 55%|#####4    | 216M/396M [00:18<00:15, 11.8MB/s]
 55%|#####4    | 218M/396M [00:18<00:14, 12.5MB/s]
 55%|#####5    | 219M/396M [00:18<00:14, 12.1MB/s]
 56%|#####5    | 221M/396M [00:18<00:14, 12.0MB/s]
 56%|#####6    | 222M/396M [00:18<00:14, 11.8MB/s]
 56%|#####6    | 224M/396M [00:18<00:14, 12.0MB/s]
 57%|#####6    | 225M/396M [00:19<00:14, 11.7MB/s]
 57%|#####7    | 227M/396M [00:19<00:13, 12.4MB/s]
 58%|#####7    | 229M/396M [00:19<00:14, 11.9MB/s]
 58%|#####8    | 230M/396M [00:19<00:13, 12.1MB/s]
 58%|#####8    | 232M/396M [00:19<00:13, 12.3MB/s]
 59%|#####8    | 233M/396M [00:19<00:14, 11.5MB/s]
 59%|#####9    | 235M/396M [00:19<00:13, 11.7MB/s]
 60%|#####9    | 236M/396M [00:20<00:15, 10.4MB/s]
 60%|######    | 239M/396M [00:20<00:13, 11.4MB/s]
 61%|######    | 240M/396M [00:20<00:13, 11.7MB/s]
 61%|######    | 242M/396M [00:20<00:12, 11.9MB/s]
 61%|######1   | 243M/396M [00:20<00:12, 12.1MB/s]
 62%|######1   | 245M/396M [00:20<00:13, 10.8MB/s]
 62%|######2   | 247M/396M [00:20<00:12, 12.2MB/s]
 63%|######2   | 249M/396M [00:21<00:14, 10.2MB/s]
 63%|######3   | 250M/396M [00:21<00:13, 10.5MB/s]
 63%|######3   | 252M/396M [00:21<00:13, 10.5MB/s]
 64%|######3   | 253M/396M [00:21<00:12, 11.0MB/s]
 64%|######4   | 255M/396M [00:21<00:14, 10.1MB/s]
 65%|######4   | 257M/396M [00:21<00:13, 10.2MB/s]
 65%|######5   | 259M/396M [00:22<00:11, 12.1MB/s]
 66%|######5   | 261M/396M [00:22<00:11, 11.9MB/s]
 66%|######6   | 262M/396M [00:22<00:11, 12.1MB/s]
 67%|######6   | 264M/396M [00:22<00:12, 10.6MB/s]
 67%|######6   | 265M/396M [00:22<00:11, 11.1MB/s]
 67%|######7   | 267M/396M [00:22<00:11, 11.5MB/s]
 68%|######7   | 268M/396M [00:22<00:11, 11.4MB/s]
 68%|######8   | 270M/396M [00:23<00:11, 11.4MB/s]
 69%|######8   | 272M/396M [00:23<00:10, 11.8MB/s]
 69%|######8   | 273M/396M [00:23<00:09, 12.3MB/s]
 69%|######9   | 275M/396M [00:23<00:09, 12.4MB/s]
 70%|######9   | 276M/396M [00:23<00:11, 10.9MB/s]
 70%|#######   | 278M/396M [00:23<00:09, 12.7MB/s]
 71%|#######   | 280M/396M [00:23<00:09, 12.7MB/s]
 71%|#######1  | 282M/396M [00:23<00:09, 12.5MB/s]
 71%|#######1  | 283M/396M [00:24<00:09, 12.1MB/s]
 72%|#######1  | 285M/396M [00:24<00:09, 12.2MB/s]
 72%|#######2  | 286M/396M [00:24<00:08, 12.3MB/s]
 73%|#######2  | 288M/396M [00:24<00:09, 11.9MB/s]
 73%|#######3  | 289M/396M [00:24<00:08, 12.1MB/s]
 73%|#######3  | 291M/396M [00:24<00:08, 12.2MB/s]
 74%|#######3  | 293M/396M [00:24<00:08, 11.9MB/s]
 74%|#######4  | 294M/396M [00:24<00:08, 12.1MB/s]
 75%|#######4  | 296M/396M [00:25<00:08, 12.5MB/s]
 75%|#######5  | 297M/396M [00:25<00:07, 12.5MB/s]
 75%|#######5  | 299M/396M [00:25<00:08, 11.7MB/s]
 76%|#######5  | 300M/396M [00:25<00:08, 11.8MB/s]
 76%|#######6  | 302M/396M [00:25<00:07, 12.0MB/s]
 77%|#######6  | 304M/396M [00:25<00:08, 10.3MB/s]
 77%|#######6  | 305M/396M [00:25<00:08, 10.9MB/s]
 78%|#######7  | 307M/396M [00:26<00:07, 11.3MB/s]
 78%|#######7  | 309M/396M [00:26<00:07, 11.0MB/s]
 78%|#######8  | 310M/396M [00:26<00:08, 10.6MB/s]
 79%|#######8  | 312M/396M [00:26<00:07, 11.1MB/s]
 79%|#######9  | 314M/396M [00:26<00:07, 11.5MB/s]
 80%|#######9  | 315M/396M [00:26<00:06, 11.8MB/s]
 80%|#######9  | 317M/396M [00:26<00:06, 12.2MB/s]
 80%|########  | 318M/396M [00:27<00:06, 11.8MB/s]
 81%|########  | 320M/396M [00:27<00:06, 12.5MB/s]
 81%|########1 | 321M/396M [00:27<00:05, 12.5MB/s]
 81%|########1 | 323M/396M [00:27<00:05, 12.4MB/s]
 82%|########1 | 325M/396M [00:27<00:05, 12.4MB/s]
 82%|########2 | 326M/396M [00:27<00:05, 12.5MB/s]
 83%|########2 | 328M/396M [00:27<00:05, 12.3MB/s]
 83%|########3 | 329M/396M [00:27<00:05, 12.4MB/s]
 83%|########3 | 331M/396M [00:28<00:05, 12.5MB/s]
 84%|########3 | 332M/396M [00:28<00:05, 12.5MB/s]
 84%|########4 | 334M/396M [00:28<00:04, 12.5MB/s]
 85%|########4 | 336M/396M [00:28<00:04, 12.5MB/s]
 85%|########5 | 337M/396M [00:28<00:04, 12.6MB/s]
 85%|########5 | 339M/396M [00:28<00:04, 12.6MB/s]
 86%|########5 | 340M/396M [00:28<00:04, 12.5MB/s]
 86%|########6 | 342M/396M [00:28<00:04, 12.5MB/s]
 87%|########6 | 343M/396M [00:29<00:04, 12.2MB/s]
 87%|########7 | 345M/396M [00:29<00:04, 12.2MB/s]
 87%|########7 | 347M/396M [00:29<00:04, 12.3MB/s]
 88%|########7 | 348M/396M [00:29<00:03, 12.2MB/s]
 88%|########8 | 350M/396M [00:29<00:03, 12.4MB/s]
 89%|########8 | 351M/396M [00:29<00:03, 12.1MB/s]
 89%|########9 | 353M/396M [00:29<00:03, 12.3MB/s]
 89%|########9 | 354M/396M [00:29<00:03, 12.4MB/s]
 90%|########9 | 356M/396M [00:30<00:03, 12.5MB/s]
 90%|######### | 358M/396M [00:30<00:03, 11.6MB/s]
 91%|######### | 360M/396M [00:30<00:02, 12.8MB/s]
 91%|#########1| 361M/396M [00:30<00:02, 12.5MB/s]
 92%|#########1| 363M/396M [00:30<00:02, 12.7MB/s]
 92%|#########1| 364M/396M [00:30<00:02, 12.5MB/s]
 92%|#########2| 366M/396M [00:30<00:02, 12.5MB/s]
 93%|#########2| 368M/396M [00:31<00:02, 12.6MB/s]
 93%|#########3| 369M/396M [00:31<00:02, 12.0MB/s]
 94%|#########3| 371M/396M [00:31<00:02, 12.5MB/s]
 94%|#########3| 372M/396M [00:31<00:02, 10.3MB/s]
 94%|#########4| 374M/396M [00:31<00:02, 9.69MB/s]
 95%|#########4| 375M/396M [00:31<00:02, 10.4MB/s]
 95%|#########5| 377M/396M [00:31<00:01, 10.8MB/s]
 96%|#########5| 379M/396M [00:32<00:01, 11.6MB/s]
 96%|#########5| 380M/396M [00:32<00:01, 11.9MB/s]
 96%|#########6| 382M/396M [00:32<00:01, 11.8MB/s]
 97%|#########6| 383M/396M [00:32<00:01, 12.0MB/s]
 97%|#########7| 385M/396M [00:32<00:00, 12.4MB/s]
 97%|#########7| 386M/396M [00:32<00:00, 11.9MB/s]
 98%|#########7| 388M/396M [00:32<00:00, 12.2MB/s]
 98%|#########8| 390M/396M [00:32<00:00, 12.5MB/s]
 99%|#########8| 391M/396M [00:33<00:00, 12.2MB/s]
 99%|#########9| 393M/396M [00:33<00:00, 12.1MB/s]
 99%|#########9| 394M/396M [00:33<00:00, 12.1MB/s]
100%|#########9| 396M/396M [00:33<00:00, 12.0MB/s]
100%|##########| 396M/396M [00:33<00:00, 11.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1nrOugQVzM5T0GbBwwd0yf3t4d5ijegDQ
To: C:\Users\Максим\Alfa\target_train_small.parquet

  0%|          | 0.00/1.96M [00:00<?, ?B/s]
 27%|##6       | 524k/1.96M [00:00<00:00, 3.27MB/s]
100%|##########| 1.96M/1.96M [00:00<00:00, 7.95MB/s]
100%|##########| 1.96M/1.96M [00:00<00:00, 7.13MB/s]
Downloading...
From (uriginal): https://drive.google.com/uc?id=1SfBZqoUZs-nqZocLdaF7-1IPORIF1a_s
From (redirected): https://drive.google.com/uc?id=1SfBZqoUZs-nqZocLdaF7-1IPORIF1a_s&confirm=t&uuid=73aa3591-382c-4c1b-9e2f-6dbd98082c18
To: C:\Users\Максим\Alfa\dataset_test.parquet

  0%|          | 0.00/223M [00:00<?, ?B/s]
  0%|          | 524k/223M [00:00<01:19, 2.79MB/s]
  1%|          | 2.10M/223M [00:00<00:32, 6.91MB/s]
  1%|1         | 3.15M/223M [00:00<00:28, 7.69MB/s]
  2%|2         | 4.72M/223M [00:00<00:22, 9.92MB/s]
  3%|2         | 6.29M/223M [00:00<00:20, 10.4MB/s]
  4%|3         | 7.86M/223M [00:00<00:19, 11.0MB/s]
  4%|4         | 9.44M/223M [00:00<00:18, 11.6MB/s]
  5%|4         | 11.0M/223M [00:01<00:20, 10.2MB/s]
  6%|5         | 13.1M/223M [00:01<00:17, 12.2MB/s]
  7%|6         | 14.7M/223M [00:01<00:17, 12.0MB/s]
  7%|7         | 16.3M/223M [00:01<00:17, 12.1MB/s]
  8%|7         | 17.8M/223M [00:01<00:16, 12.2MB/s]
  9%|8         | 19.4M/223M [00:01<00:16, 12.5MB/s]
  9%|9         | 21.0M/223M [00:01<00:16, 12.5MB/s]
 10%|#         | 22.5M/223M [00:02<00:15, 12.6MB/s]
 11%|#         | 24.1M/223M [00:02<00:16, 12.4MB/s]
 11%|#1        | 25.7M/223M [00:02<00:15, 12.7MB/s]
 12%|#2        | 27.3M/223M [00:02<00:15, 12.4MB/s]
 13%|#2        | 28.8M/223M [00:02<00:15, 12.2MB/s]
 14%|#3        | 30.4M/223M [00:02<00:15, 12.4MB/s]
 14%|#4        | 32.0M/223M [00:02<00:15, 12.2MB/s]
 15%|#5        | 33.6M/223M [00:02<00:14, 12.8MB/s]
 16%|#5        | 35.1M/223M [00:03<00:15, 12.4MB/s]
 16%|#6        | 36.7M/223M [00:03<00:14, 12.7MB/s]
 17%|#7        | 38.3M/223M [00:03<00:14, 12.6MB/s]
 18%|#7        | 39.8M/223M [00:03<00:14, 12.6MB/s]
 19%|#8        | 41.4M/223M [00:03<00:14, 12.4MB/s]
 19%|#9        | 43.0M/223M [00:03<00:15, 11.9MB/s]
 20%|#9        | 44.6M/223M [00:03<00:14, 12.1MB/s]
 21%|##        | 46.1M/223M [00:03<00:14, 12.2MB/s]
 21%|##1       | 47.7M/223M [00:04<00:14, 12.3MB/s]
 22%|##2       | 49.3M/223M [00:04<00:13, 12.6MB/s]
 23%|##2       | 50.9M/223M [00:04<00:13, 12.4MB/s]
 23%|##3       | 52.4M/223M [00:04<00:13, 12.3MB/s]
 24%|##4       | 54.0M/223M [00:04<00:13, 12.1MB/s]
 25%|##4       | 55.6M/223M [00:04<00:13, 12.2MB/s]
 26%|##5       | 57.1M/223M [00:04<00:13, 12.3MB/s]
 26%|##6       | 58.7M/223M [00:04<00:13, 12.3MB/s]
 27%|##6       | 60.3M/223M [00:05<00:13, 11.8MB/s]
 28%|##7       | 61.9M/223M [00:05<00:18, 8.71MB/s]
 28%|##8       | 63.4M/223M [00:05<00:16, 9.56MB/s]
 29%|##9       | 65.0M/223M [00:05<00:15, 10.4MB/s]
 30%|##9       | 66.6M/223M [00:05<00:14, 11.0MB/s]
 31%|###       | 68.2M/223M [00:05<00:13, 11.4MB/s]
 31%|###1      | 69.7M/223M [00:06<00:12, 12.0MB/s]
 32%|###1      | 71.3M/223M [00:06<00:13, 11.7MB/s]
 33%|###2      | 72.9M/223M [00:06<00:12, 11.8MB/s]
 33%|###3      | 74.4M/223M [00:06<00:12, 12.0MB/s]
 34%|###4      | 76.0M/223M [00:06<00:12, 12.1MB/s]
 35%|###4      | 77.6M/223M [00:06<00:13, 10.6MB/s]
 36%|###5      | 80.2M/223M [00:06<00:11, 12.9MB/s]
 37%|###6      | 81.8M/223M [00:06<00:11, 12.6MB/s]
 37%|###7      | 83.4M/223M [00:07<00:11, 12.6MB/s]
 38%|###8      | 84.9M/223M [00:07<00:11, 11.9MB/s]
 39%|###8      | 86.5M/223M [00:07<00:11, 12.0MB/s]
 39%|###9      | 88.1M/223M [00:07<00:11, 12.2MB/s]
 40%|####      | 89.7M/223M [00:07<00:12, 11.0MB/s]
 41%|####1     | 91.8M/223M [00:07<00:10, 12.9MB/s]
 42%|####1     | 93.3M/223M [00:07<00:09, 13.1MB/s]
 42%|####2     | 94.9M/223M [00:08<00:10, 12.3MB/s]
 43%|####3     | 96.5M/223M [00:08<00:10, 12.0MB/s]
 44%|####3     | 98.0M/223M [00:08<00:10, 12.5MB/s]
 45%|####4     | 99.6M/223M [00:08<00:10, 12.3MB/s]
 45%|####5     | 101M/223M [00:08<00:12, 9.44MB/s]
 46%|####6     | 103M/223M [00:08<00:10, 11.2MB/s]
 47%|####6     | 105M/223M [00:08<00:10, 11.8MB/s]
 48%|####7     | 106M/223M [00:09<00:09, 11.9MB/s]
 48%|####8     | 108M/223M [00:09<00:09, 12.2MB/s]
 49%|####9     | 110M/223M [00:09<00:08, 12.8MB/s]
 50%|####9     | 111M/223M [00:09<00:08, 12.7MB/s]
 50%|#####     | 113M/223M [00:09<00:08, 12.7MB/s]
 51%|#####1    | 114M/223M [00:09<00:08, 12.7MB/s]
 52%|#####1    | 116M/223M [00:09<00:08, 12.6MB/s]
 53%|#####2    | 117M/223M [00:09<00:08, 13.1MB/s]
 53%|#####3    | 119M/223M [00:10<00:08, 12.9MB/s]
 54%|#####3    | 121M/223M [00:10<00:09, 11.1MB/s]
 55%|#####4    | 122M/223M [00:10<00:08, 11.5MB/s]
 55%|#####5    | 124M/223M [00:10<00:10, 9.13MB/s]
 56%|#####6    | 125M/223M [00:10<00:09, 9.95MB/s]
 57%|#####6    | 127M/223M [00:10<00:09, 10.5MB/s]
 57%|#####7    | 128M/223M [00:11<00:08, 10.9MB/s]
 58%|#####8    | 130M/223M [00:11<00:08, 11.6MB/s]
 59%|#####8    | 132M/223M [00:11<00:07, 11.9MB/s]
 60%|#####9    | 133M/223M [00:11<00:07, 12.2MB/s]
 60%|######    | 135M/223M [00:11<00:07, 12.3MB/s]
 61%|######1   | 136M/223M [00:11<00:06, 12.9MB/s]
 62%|######1   | 138M/223M [00:11<00:06, 12.3MB/s]
 62%|######2   | 139M/223M [00:11<00:06, 12.7MB/s]
 63%|######3   | 141M/223M [00:11<00:06, 12.2MB/s]
 64%|######3   | 143M/223M [00:12<00:06, 12.3MB/s]
 65%|######4   | 144M/223M [00:12<00:06, 11.5MB/s]
 65%|######5   | 146M/223M [00:12<00:06, 11.8MB/s]
 66%|######5   | 147M/223M [00:12<00:06, 12.0MB/s]
 67%|######6   | 149M/223M [00:12<00:06, 12.2MB/s]
 67%|######7   | 150M/223M [00:12<00:05, 12.3MB/s]
 68%|######8   | 152M/223M [00:12<00:05, 12.4MB/s]
 69%|######8   | 154M/223M [00:13<00:06, 10.4MB/s]
 70%|######9   | 156M/223M [00:13<00:05, 11.6MB/s]
 71%|#######   | 158M/223M [00:13<00:04, 13.2MB/s]
 72%|#######1  | 160M/223M [00:13<00:04, 13.0MB/s]
 72%|#######2  | 161M/223M [00:13<00:04, 12.5MB/s]
 73%|#######2  | 163M/223M [00:13<00:05, 11.0MB/s]
 74%|#######3  | 165M/223M [00:13<00:04, 11.9MB/s]
 74%|#######4  | 166M/223M [00:14<00:04, 11.9MB/s]
 75%|#######5  | 168M/223M [00:14<00:04, 12.0MB/s]
 76%|#######5  | 169M/223M [00:14<00:04, 11.9MB/s]
 77%|#######6  | 171M/223M [00:14<00:04, 10.9MB/s]
 77%|#######7  | 172M/223M [00:14<00:04, 11.3MB/s]
 78%|#######7  | 174M/223M [00:14<00:04, 11.6MB/s]
 79%|#######8  | 176M/223M [00:14<00:04, 11.9MB/s]
 79%|#######9  | 177M/223M [00:15<00:03, 11.9MB/s]
 80%|########  | 179M/223M [00:15<00:03, 12.4MB/s]
 81%|########  | 180M/223M [00:15<00:03, 12.2MB/s]
 81%|########1 | 182M/223M [00:15<00:03, 11.7MB/s]
 82%|########2 | 184M/223M [00:15<00:03, 12.7MB/s]
 83%|########3 | 186M/223M [00:15<00:03, 12.5MB/s]
 84%|########3 | 187M/223M [00:15<00:02, 12.5MB/s]
 84%|########4 | 189M/223M [00:15<00:02, 12.8MB/s]
 85%|########5 | 190M/223M [00:16<00:02, 12.3MB/s]
 86%|########5 | 192M/223M [00:16<00:02, 12.5MB/s]
 87%|########6 | 193M/223M [00:16<00:02, 12.7MB/s]

In [152]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

In [3]:
dataset_train = pd.read_parquet("dataset_train_small.parquet")
target_train = pd.read_parquet("target_train_small.parquet")

In [ ]:
dataset_train

,app_id,amnt,currency,operation_kind,card_type,operation_type,operation_type_group,ecommerce_flag,payment_system,income_flag,mcc,country,city,mcc_category,day_of_week,hour,days_before,weekofyear,hour_diff,transaction_number
0,92990,0.301232,1,1,96,2,1,1,3,1,8,1,49,1,7,15,92,42,22,1
1,92990,0.329823,1,1,96,2,1,1,3,1,1,1,49,1,7,15,92,42,0,2
2,92990,0.294431,1,1,96,2,1,1,3,1,1,1,49,1,5,11,90,48,44,3
3,92990,0.302912,1,1,96,2,1,1,3,1,1,1,49,1,4,15,89,48,28,4
4,92990,0.359050,1,2,102,8,1,1,3,1,2,1,49,2,3,11,88,48,20,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32635982,92988,0.361067,1,1,54,2,1,1,3,1,1,1,2,1,7,7,1,2,21,39
32635983,92988,0.356763,1,1,54,2,1,1,3,1,1,1,2,1,7,7,1,2,0,40
32635984,92989,0.218385,1,1,52,2,1,1,3,1,4,1,2,3,3,9,81,46,480,1
32635985,92989,0.488173,1,4,52,4,2,1,3,2,2,1,15,2,4,10,75,20,144,2
32635986,92989,0.297365,1,1,52,2,1,1,3,1,19,1,2,13,6,17,70,36,127,3

In [4]:
from nltk import WordNetLemmatizer
from sklearn.feature_selection import chi2
from sklearn.feature_selection import SelectKBest

In [61]:
from sklearn.ensemble import RandomForestClassifier

In [5]:
target_train

        app_id  product  flag
0            1        1     0
1            5        1     0
2            6        1     0
3            7        0     0
4           11        1     0
...        ...      ...   ...
377341  805124        0     0
377342  805125        0     0
377343  805127        4     0
377344  805130        1     0
377345  805132        0     0

[377346 rows x 3 columns]

In [6]:
def num_unique_values(x):
    return len(set(x))

In [7]:
def get_features(dataset, target):
    features = dataset.groupby("app_id", as_index=False).agg({
        "transaction_number": "max",
        "amnt": ["min", "max", "mean"],
        "currency": num_unique_values
    })
    features.columns = ['_'.join(col).strip('_') for col in features.columns.values]
    features = features.join(target.set_index("app_id"), "app_id")
    return features.drop(columns=["app_id", "flag"]), features[["app_id", "flag"]]

In [8]:
X_train, y_train = get_features(dataset_train, target_train)

In [9]:
from sklearn import tree

In [10]:
X_train

,transaction_number_max,amnt_min,amnt_max,amnt_mean,currency_num_unique_values,product
0,120,0.155581,0.539584,0.315662,1,1
1,47,0.269110,0.594620,0.413886,1,1
2,23,0.321124,0.605813,0.405220,3,1
3,28,0.062575,0.476811,0.248939,1,0
4,17,0.258972,0.516834,0.395651,1,1
...,...,...,...,...,...,...
377341,20,0.178216,0.454634,0.327272,1,0
377342,92,0.212853,0.607141,0.341180,1,0
377343,3,0.520103,0.520103,0.520103,1,4
377344,53,0.271747,0.563568,0.406822,3,1
377345,138,0.153618,0.522181,0.313436,1,0

In [11]:
y_train

        app_id  flag
0            1     0
1            5     0
2            6     0
3            7     0
4           11     0
...        ...   ...
377341  805124     0
377342  805125     0
377343  805127     0
377344  805130     0
377345  805132     0

[377346 rows x 2 columns]

In [224]:
model = RandomForestClassifier(n_estimators=200,
                               bootstrap = True,
                               max_features = 'sqrt' ,max_depth=10,min_samples_split=5, random_state=1,criterion="log_loss" )
model.fit(X_train, y_train["flag"])
y_train_pred = model.predict_proba(X_train)[:, 1]
print(200 * roc_auc_score(y_train["flag"], y_train_pred) - 100)

55.32173230608862

In [225]:
dataset_test = pd.read_parquet("dataset_test.parquet")
target_test = pd.read_parquet("target_test_contest.parquet")

In [226]:
target_test

         app_id  product
0        805133        1
1        805134        0
2        805135        1
3        805136        1
4        805137        2
...         ...      ...
188669  1003045        1
188670  1003047        0
188671  1003048        1
188672  1003049        0
188673  1003050        1

[188674 rows x 2 columns]

In [227]:
target_test["flag"] = 0

In [228]:
X_test, y_test = get_features(dataset_test, target_test)

In [229]:
X_test

,transaction_number_max,amnt_min,amnt_max,amnt_mean,currency_num_unique_values,product
0,16,0.271738,0.562335,0.364273,1,1
1,11,0.290811,0.657194,0.424697,1,0
2,242,0.000000,0.646036,0.387859,1,1
3,33,0.000000,0.560044,0.344616,1,1
4,23,0.196203,0.582099,0.358440,1,2
...,...,...,...,...,...,...
188669,8,0.423667,0.507530,0.450073,1,1
188670,52,0.000000,0.652660,0.389890,1,0
188671,112,0.225878,0.683797,0.404899,2,1
188672,6,0.345373,0.510295,0.478856,1,0
188673,244,0.166103,0.491829,0.302297,1,1

In [230]:
y_test_pred = model.predict_proba(X_test)[:, 1]
y_test["flag"] = y_test_pred

In [231]:
y_test

         app_id      flag
0        805133  0.020261
1        805134  0.016563
2        805135  0.029987
3        805136  0.030402
4        805137  0.052398
...         ...       ...
188669  1003045  0.020630
188670  1003047  0.023698
188671  1003048  0.013831
188672  1003049  0.018457
188673  1003050  0.040171

[188674 rows x 2 columns]

In [232]:
X_test

,transaction_number_max,amnt_min,amnt_max,amnt_mean,currency_num_unique_values,product
0,16,0.271738,0.562335,0.364273,1,1
1,11,0.290811,0.657194,0.424697,1,0
2,242,0.000000,0.646036,0.387859,1,1
3,33,0.000000,0.560044,0.344616,1,1
4,23,0.196203,0.582099,0.358440,1,2
...,...,...,...,...,...,...
188669,8,0.423667,0.507530,0.450073,1,1
188670,52,0.000000,0.652660,0.389890,1,0
188671,112,0.225878,0.683797,0.404899,2,1
188672,6,0.345373,0.510295,0.478856,1,0
188673,244,0.166103,0.491829,0.302297,1,1

In [233]:
y_test.to_csv("result.csv", index=False)